@import '../../../node_modules/normalize.scss/normalize.scss';

body, html {
    height: 100%;
    margin: 0;
}

canvas[resize] {
    width: 100%;
    height: 100%;
    background: black;
    vertical-align: top;
}

body::before {
        content: 'Press any key to start the show';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 1.25rem;
        z-index: 10;
}